<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Hello, world</title>
</head>
<body>
    <nav>
        <div class="col list l">
                        <a id="select-mes">mi <img src="/static/icons/down.svg" class="icon"></a>
            <img src="/static/icons/plus.svg" class="icon">
        </div>
        <div class="col title">
            <a>miles</a>
        </div>
        <div class="col list r">
            <img src="/static/icons/user.svg" class="icon">
            <img src="/static/icons/menu.svg" class="icon">
        </div>
    </nav>

    <main>
        <a class="btn add-activity">
            Add my activity
        </a>
    </main>
</body>
</html>