nav {
    border-bottom: 1px solid #EBEBEB;
    padding: 15px 30px;
    flex-direction: row;
    align-items: center;
    display: flex;
}

nav .col {
    flex: 1;
    display: flex;
    align-items: center;
}

nav .title {
    justify-content: center;
}

nav .title a {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    color: $primary;
    font-weight: bolder;
    font-size: 20pt;
}

nav .list {
    flex-direction: row;
    gap: 15px;
}

nav .list.r {
    justify-content: right;
}
nav .list.l {
    justify-content: left;
}

nav .icon {
    height: 15pt;
    width: 15pt;
}

#select-mes {
    border: 2px solid #000;
    border-radius: 5pt;
    display: inline-flex;
    flex-direction: row;
    padding: 2px 5px;
    align-items: center;
    cursor: pointer;
    font-weight: bolder;
    gap: 5px;
    font-size: 10pt;
}

#select-mes .icon {
    height: 10pt;
    width: 10pt;
}